@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@900&family=Sigmar+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;

    font-size: 1em;
    background-color: rgb(24 24 27);

    overflow-x: hidden;
    max-width: 100%;
    min-width: fit-content;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 1.15em;
    font-weight: 900;

    margin: 10px 0;
}

.accent {
    color: #F96D32;
    font-size: 1.25em;
}

.burtiera_wrapper_one {
    transform: translateX(-20px) translateY(50px) rotate(10deg);
    width: 120%;
    height: 50px;
    position: relative;
    z-index: 1;
}

.burtiera_wrapper_two {
    transform: translateX(-20px) rotate(-10deg);
    width: 120%;
    height: 50px;
    position: relative;
    z-index: 0;
}

.burtiera {
    margin: 0 auto;
    display: inline-block;

    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.burtiera span {
    display: inline-block;
    animation: burtiera 20s infinite linear;
    padding-left: 100%;
}

.burtiera.burtiera-1 span {
    animation-delay: -10s;
}

.burtiera.burtiera-2 span {
    animation-delay: 0s;
}



@keyframes burtiera {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 10px 0;
}

.line.upper-line {
    width: 50%;
    transform: translateX(-10%);
}

.line.lower-line {
    width: 50%;
    transform: translateX(150%);
}

.stroke-text {
    text-shadow: -1px -1px 0 #F96D32, 1px -1px 0 #F96D32, -1px 1px 0 #F96D32, 1px 1px 0 #F96D32;
}

.stroke-text-white {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.stroke-text-zinc {
    text-shadow: -1px -1px 0 #242427, 1px -1px 0 #242427, -1px 1px 0 #242427, 1px 1px 0 #242427;
}

.writing-element .more {
    display: none;
}

.writing-element .info {
    display: block;
}

.writing-element:hover .info {
    display: none;
}

.writing-element:hover .more {
    display: block;
}

.aws-btn {
    --slider-height-percentage: 100%;
    --slider-transition-duration: 915ms;
    --organic-arrow-thickness: 7px;
    --organic-arrow-border-radius: 5px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #b3591a;
    --control-button-width: 19%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #d2691e;
    --control-bullet-active-color: #b3591a;
    --loader-bar-color: #851515;
    --loader-bar-height: 11px;
}

.awssld {
    width: 100%;
    aspect-ratio: 9/16;
}

.awssld__wrapper{
    overflow: hidden;
    border-radius: 20px;
}

.slider__video-card {
    width: 100%;
    aspect-ratio: 9/16;
}

.slider__video-card video {
    position: absolute;
    width: 100%;
    aspect-ratio: 9/16;
}

/* @media (max-width: 520px) {
    .awssld__controls {
        visibility: initial !important;
    }
} */